body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.container {
  margin-top: 20px;
  margin: 20px;
}

.card {
  margin-top: 20px;
}

.event-card {
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 15px;
  margin: 10px 0;
  background-color: #f9f9f9;
}

.event-card h3 {
  margin: 0;
}

.events-list {
  margin-top: 20px;
}

.text-highlight {
  background-color: #ffcccc; /* Light red background */
  color: #751818; /* Dark red text */
  font-weight: bold; /* Make the text bold */
}